body {
  background: transparent url("../images/body_bg.png") repeat;
  font-size: 16px;
  font-family: "Ubuntu", arial, sans-serif;
  font-weight: regular;
  width: 100%;
  word-wrap: break-word;
  hyphens: auto;
}
