@media screen and (min-width: 1280px) {
    body {
      width: 100%;
    }

    main {
      width: 1280px;
    }

    section[id="CV"] {
      max-width: 900px;
    }

    section.stats ul li.titre-stat {
        font-size: 0.8em;
    }

    footer div.footerWrap {
        width: 900px;
    }

    .footerWrap div {
        max-width: 300px;
    }
}

@media screen and (max-width: 1280px) {
    main {
      width: 100%;
    }

    section[id="CV"] {
      max-width: 900px;
    }

    footer div.footerWrap {
        max-width: 900px;
    }

    .footerWrap div {
        max-width: 300px;
    }
}

@media screen and (max-width: 900px) {
    body {
        display: flex;
        flex-direction: column;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    main>section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main>section>* {
        float: none;
        width: 48%;
        margin: 0 0 2em 0;
        box-sizing: border-box;
    }

    [id="CV"] {
        padding: 0 1.5em;
    }

    section.cv__stats, section.cv__contact {
        margin: 0 0 2em 0;
    }

    .cv__nom {
        order: 1;
    }

    .cv__figure {
        order: 2;
    }

    section.cv__stats {
        order: 5;
    }

    section.cv__description {
        order: 3;
    }

    section.cv__contact {
        order: 4;

    }

    .cv__formations {
        order: 6;
    }

    section.cv__partager {
        order: 7;
        width: 100%;
        margin: 0;
        a.pluscv {
            margin: 0;
        }
    }

    nav#navprin {
        box-sizing: border-box;
    }

    nav#navprin>ul {
      width: 100%; /*892px*/
      background-color: $darkGrey;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      box-sizing: border-box;

    }

    nav#navprin li {
        box-sizing: border-box;
        width: 13.9047619051% ;
    }

    nav#navprin li+li {
      margin-left: 0.4444444444%;
    }

    nav#navprin li a {
        box-sizing: border-box;
        width: 100%;
        padding-top: 1.47em;
    }


    /*** Contenu ***/

    nav#navetud a {
        font-size: 1.2em;
    }

    main figure {
        float: none;
        width: 80%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 2em;
    }

    main figure img {
        width: 100%;
    }

    main figure .raccourcis-favoris {
        align-self: bottom;
        top: -38px;
    }

    section.stats {
        width: 100%;
        padding: 1em 1.5em;
    }

    section.stats h3 {
        align-self: left;
    }

    section.stats>ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .cv__description {
        width: 100%;
    }

    .cv__contact {
        width: 100%;
    }

    div.formExp {
        width: 100%;
    }

    section.formations {
        margin-top: 0;
    }

    section.partager {
        width: 100%
    }

    footer {
        width: 100%;
    }

    footer .footerWrap {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        div {
            float: none;
            padding: 0 0 2em 0;
            width: 30%;
            min-width: 190px;
            &:first-child {
                padding-left: 0;
            }
        }
    }

    section.contact {
        ul {
            justify-content: space-around;
            li {
                min-width: 45%;
                max-width: 45%;
                margin-bottom: 1.5em;
                // min-height: 100px;
            }
        }
    }

}

@media screen and (max-width: 800px) {

    /*** Navigation principale ***/

    nav#navprin li + li{
      margin-left: 0;
    }


    #navprin {
        box-sizing: border-box;
        position: absolute;
        top: 60px;
        left: 0;
        margin: 0;
        width: 100%;
        z-index: 1;
    }

    #navprin ul {
        border-radius: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #navprin ul li {
        margin: 0;
        border-bottom: 1px solid black;
        width: 100%;
        border-radius: 0;
    }

    #navprin ul li:last-child {
        border: none;
    }

    #navprin ul li a {
        border: none;
        border-radius: 0;
        width: 100%;
        min-height: 55px;
        padding: 0;
        font-size: 1em;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }

    #navprin ul li a svg {
        margin: 0;
    }

    #navprin ul li a span {
        margin: 0 1.5em;
        align-self: center;
    }


    #navprin.menuHidden {
        display: none;
    }

    .mobile.hidden {
        height: 60px;
        background-color: $darkGrey;
        display: flex;
        align-items: center;
    }

    .mobile.hidden svg {
        padding: 1em;
        background-color: $darkGrey;
        border-right: 2px solid black;
        fill: white;
    }

    .mobile.hidden.toggle svg {
        fill: $grey;
        background-color: black;
    }

    #menuIcon {
        cursor: pointer;
    }
}

@media screen and (max-width: 750px) {
    main figure {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {

    section.contact {
        ul {
            justify-content: space-between;
        }
    }
    section[id="CV"] {
        padding: 0 0.5em 1em 0.5em
    }

    nav#navetud a {
        font-size: 0;
        padding-top: 20px;
    }

    div.nom-wrap {
        width: 55%;
    }

    section#CV {
        width: 100%;
        box-sizing: border-box;
    }

    h2.nomÉtudiant {
        hyphens: none;
    }

    section.cv__stats {
        padding: 1em 0.5em;
        ul li.titre-stat {
            width: 13%;
        }
    }
}
