footer {
    background-color: $darkGrey;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

footer::after {
    content: "";
    display: block;
    clear: both;
}

footer div.footerWrap {
    margin: 0 auto;
    width: 88%;
    box-sizing: border-box;
}

.footerWrap div {
    display: inline-block;
    box-sizing: border-box;
    width: 33%;
    color: $grey;
    font: 0.8em Helvetica, "Arial", sans-serif;
    padding-left: 5%;
}

footer div.liens {
    float: left;
}

footer div.liens span {
    font-size: 2em;
    font-family: "Ubuntu", sans-serif;
    color: white;
    font-weight: 600;
}

footer div.liens li, .conditions a {
    font-weight: bold;
    margin-bottom: 0.4em;
    transition: 0.25s ease-in-out;
}

footer div.liens li:hover, .conditions a:hover {
    color: $lightGrey;
}

footer div.follow {
    float: left;
}

footer div.follow span {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}

footer div.follow li {
    display: inline-block;
    margin-right: 0.5em;
}

footer div.follow li a {
    font-size: 0;
    width: 30px;
    height: 30px;
    display: inline-block;
}

footer div.follow li a:hover {
    opacity: 0.8;
}

footer div.follow li:first-child a {
    background: white url("../images/reseauxSociaux/facebook.svg") no-repeat;
    border-radius: 5px;
}

footer div.follow li:nth-child(2) a {
    background: transparent url("../images/reseauxSociaux/twitter.svg") no-repeat;
}

footer div.follow li:nth-child(3) a {
    background: white url("../images/reseauxSociaux/linkedin.svg") no-repeat;
    border-radius: 5px;
}


footer div.conditions li {
    margin-bottom: 0.4em;
}

.conditions ul {
    margin: 0;
}

footer div.conditions small {
    font-size: 0.7em;
    text-transform: uppercase;
}
