footer {
    background-color: $darkGrey;
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 2em;
}

footer::after {
    content: "";
    display: block;
    clear: both;
}

footer div.footerWrap {
    margin: 0 auto;
    width: 90%;
    box-sizing: border-box;
}

.footerWrap div {
    display: inline-block;
    box-sizing: border-box;
    width: 33%;
    color: $grey;
    font: 0.8em Helvetica, "Arial", sans-serif;
    span {
        font-size: 1.6em;
        font-family: "Ubuntu", sans-serif;
        color: white;
        font-weight: 600;
        display: block;
        margin-bottom: 0.5rem;
    }
}

footer div.liens {
    float: left;
}

footer div.liens li, .conditions a {
    font-weight: bold;
    margin-bottom: 0.4em;
    transition: 0.25s ease-in-out;
}

footer div.liens li:hover, .conditions a:hover {
    color: $lightGrey;
}

footer div.follow {
    float: left;
}

footer div.follow li {
    display: inline-block;
    margin-right: 0.5em;
}

footer div.follow li a {
    font-size: 0;
    width: 30px;
    height: 30px;
    display: inline-block;
    fill: $grey;
    transition: 0.25s ease-in-out;
}

footer div.follow li a:hover {
    fill: $lightGrey;
}

footer div.conditions li {
    margin-bottom: 0.4em;
}

footer div.conditions small {
    font-size: 0.7em;
    text-transform: uppercase;
}
