nav[id="navetud"] {
  background-color: white;
  text-align: center;
  min-height: 118px;
  overflow: hidden;
  font-weight: 500;
}

nav[id="navetud"] a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 1em 0;
    background-color: $lightGrey;
    min-height: 118px;
    font-size: 1.5em;
    color : $darkGrey;
    vertical-align: middle;
    transition: 0.3s ease 0s;
}

nav[id="navetud"] a:hover {
    background-color: $skyblue;
}

nav[id="navetud"] a.previous {
  width: 50%;
  display: block;
  margin-right: 0.4444444444%;
  float: left;
}

nav[id="navetud"] a.next {
    display: block;
    overflow: hidden;
    width: auto;
}

nav[id="navetud"] a.next::after {
    content: "";
    clear: both;
    display: both;
}

nav[id="navetud"] a.previous::before {
    content: url("../images/back.svg");
    display: inline-block;
    width: 22px;
    height: 22px;
    padding: 0.2em;
    background-color: white;
    border-radius: 100%;
    margin-right: 0.5em;
    vertical-align: middle;
}

nav[id="navetud"] a.next::after {
    content: url("../images/next.svg");
    display: inline-block;
    width: 22px;
    height: 22px;
    padding: 0.2em;
    background-color: white;
    border-radius: 100%;
    margin-left: 0.5em;
    vertical-align: middle;
}
