section.contact {
    overflow: hidden;
    background-color: $skyblue;
    border-radius: 0.5em;
    padding: 1.5em 1em 0 1em;
    font-size: 0.85em;
    font-weight: 500;
    color: white;
    line-height: 1.5;
    ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            width: 170px;
            margin-bottom: 1.5em;
            // min-height: 100px;
        }
    }
}

section.contact h4 {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.5px;
}
