section.description {
    margin: 0 1.777777777778% 2em 0.05555555556%;
    font-size: 1.125em;
    line-height: 1.5em;
    overflow: hidden;
}

section.description p.texte-description {
    font-weight: 400;
    margin-bottom: 2em;
}

section.description img {
    margin: 0 0.3em;
    vertical-align: middle;
}

.langues {
    font-weight: 500;
}
