div.formExp {
    overflow: hidden;
}

section.formations, section.experiences {
    margin-top: 3em;
}

section.formations h3, section.experiences h3 {
    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: 1em;
}


.formations li, .experiences li {
    display: inline-block;
    text-align: center;
    min-width: 45%;
    padding: 0.5em 0;
    border-radius: 0.3em;
    color: white;
    font-weight: 500;
}

.formations li span, .experiences li span {
    padding-top: 0.5em;
    display: block;
    font-size: 0.7em;
}

.formations li, .experiences li {
    background-color: $purple;
}

.formations li:first-child {
    margin-right: 0.5em;
}

.experiences li:first-child {
    margin-right: 0.5em;
}
