div.nom-wrap {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

div.nom-wrap h2 {
    position: relative;
    top: -50px;

    width: 100%;
    padding-top: 1em;
    min-height: 62px;

    font-size: 2em;
    color: #212121;

    background-color: white;
}

div.nom-wrap h2::after {
    content: " " ;
    display: inline-block;
    background: transparent url("../images/notch-white-xxl.png") no-repeat;
    width: 75px;
    height: 52px;

    position: absolute;
    top: -1px;
    background-position: right top;
    right: -75px;
}

div.nom-wrap h2::before {
    content: " " ;
    display: inline-block;
    background: transparent url("../images/notch-white-xxl.png") no-repeat;
    width: 75px;
    height: 52px;

    position: absolute;
    top: -1px;
    left: -75px;
}


div.nom-wrap .nomÉtudiant span {
  color: $grey;
}
