section.stats {
    box-sizing: border-box;
    margin: 2em 1em 1.5em 0;
    padding: 1em 1.777777777778%;
    border-radius: 0.5em;
    width: 50%;
    float: left;
    background-color: #a4a4a4;
    overflow: hidden;
}

section.stats::after {
    content: "";
    display: block;
    clear: both;
}

section.stats h3 {
    margin-bottom: 1.5em;
    font-weight: 600;
}

section.stats ul li.titre-stat {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    font-size: 0.6em;
    width: 15%;
    margin-right: 0.2666666667%;
    font-weight: 500;
}

section.stats ul li.hidden {
    display: block;
    height: 10px;
    background-color: white;
    margin-bottom: 0.35em;
}

section.stats ul li.hidden:last-child {
    margin-bottom: 1em;
}

/* variations stats */

section.stats ul li.titre-stat:nth-child(1) li.hidden:nth-child(n+3){
    background-color: #30a7d7;
}

section.stats ul li.titre-stat:nth-child(2) li.hidden:nth-child(n+8){
    background-color: #30a7d7;
}

section.stats ul li.titre-stat:nth-child(3) li.hidden:nth-child(n+9){
    background-color: #30a7d7;
}

section.stats ul li.titre-stat:nth-child(4) li.hidden:nth-child(n+4){
    background-color: #30a7d7;
}

section.stats ul li.titre-stat:nth-child(5) li.hidden:nth-child(n+3){
    background-color: #30a7d7;
}

section.stats ul li.titre-stat:nth-child(6) li.hidden:nth-child(n+2){
    background-color: #30a7d7;
}
