@font-face {
   font-family: Ubuntu;
   src: url("../font/ubuntu/Ubuntu-L.ttf");
   font-weight: 400;
}

@font-face {
   font-family: Ubuntu;
   src: url("../font/ubuntu/Ubuntu-R.ttf");
   font-weight: 500;
}

@font-face {
   font-family: Ubuntu;
   src: url("../font/ubuntu/Ubuntu-B.ttf");
   font-weight: 600;
}
