@font-face {
   font-family: Ubuntu;
   src: url("../font/ubuntu/Ubuntu-R.ttf");
   font-weight: normal;
}

@font-face {
   font-family: Ubuntu;
   src: url("../font/ubuntu/Ubuntu-M.ttf");
   font-weight: medium;
}

@font-face {
   font-family: Ubuntu;
   src: url("../font/ubuntu/Ubuntu-B.ttf");
   font-weight: bold;
}
